
<div>
    Welcome to the website!
</div>
<div id="signout">
    <form action="/signout" method="POST">
        <button>Signout</button>
    </form>
</div>

<div id="identity">
    <h3 id="userName"></h3>
    <h3 id="userEmail"></h3>
</div>