<head>
    <title>Accessories</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body onload="setUpAccessories();">
    <div id="content">
        <span class="slide">
            <a href="#" onclick="openSlideMenu()">
            <i>+</i>
            </a>
        </span>

        <div id="menu" class="nav" style="width: 0px;">
            <a href="#" class="close" onclick="closeSlideMenu()">X</a>
            <a href="/homepageFORCE">Home</a>
            <a href="/keyboards">Keyboards</a>
            <a href="/mice">Mice</a>
            <a href="#">Monitors</a>
            <a href="#">Laptops</a>
            <a href="#">Desktops</a>

            <li id="signoutButton">
                <div id="signout">
                    <form action="/signout" method="POST">
                        <button class="button">Signout</button>
                    </form>
                </div>
            </li>
        </div>
    </div>

    <!-- Shopping Cart -->
    <div id="cartContent" data="off">
        <a id="cart" onclick="cartAction()" href="#">
            <img src="http://localhost:3000/public/images/cart.png">
        </a>
    </div>

    <h1 style="text-align:center; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background-color: black; color: white">Parts and Accessories</h1>
    <div id="accessoriesDIV"></div>

    <script src="../public/script/script.js"></script>