<h1>Login</h1>
<form action="/login" method="POST">
    <div>
        <h3>Email: </h3>
        <input type="text" id="emailInput" name="email" required>
    </div>
    <div>
        <h3>Password: </h3>
        <input type="text" id="passwordInput" name="password" required>
    </div>
    <button type="submit">Login</button>
</form>
<a href="/register">Register</a>
