<h1>Register</h1>
<form action="/register" method="POST">
    <div>
        <h3>Name: </h3>
        <input type="text" id="nameInput" name="name" required>
    </div>
    <div>
        <h3>Email: </h3>
        <input type="text" id="emailInput" name="email" required>
    </div>
    <div>
        <h3>Password: </h3>
        <input type="text" id="passwordInput" name="password" required>
    </div>
    <button type="submit">Register</button>
</form>
<a href="/login">Login</a>
